*.pt filter=lfs diff=lfs merge=lfs -text
*.onnx filter=lfs diff=lfs merge=lfs -text
*.bin filter=lfs diff=lfs merge=lfs -text
*.pth filter=lfs diff=lfs merge=lfs -text
app/models/weights/best.pt filter=lfs diff=lfs merge=lfs -text
runs/train/tiny_symbol_detector4/weights/best.pt filter=lfs diff=lfs merge=lfs -text 